* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  grid-template-areas: ". up ."
                       "left down right";

  grid-gap: 10px;
}

.knopf {
  background: orange;
  border-radius: 50px;
  border: none;
  transition: transform 0.15s;
}

.knopf:hover {
    cursor: pointer;
}

.knopf:active {
  transform: scale(0.95);
}

#up {
  grid-area: up;
}

#left {
  grid-area: left;
}

#down {
  grid-area: down;
}

#right {
  grid-area: right;
}
